body {
    header {
        border-bottom: 2px solid #fcb5ed;
        color: #ffffff;
    }
    max-width: 1000px;
    margin: 0 auto;
    background-color: #75416b;

    .container1 {
        color: #ffffff;
    }

    .write2 {
        border: 2px solid #000000;
        padding: 20px;
        background-color: #fcb5ed;
        font-weight: bold;
        border-radius: 16px;
        line-height: 1.7;
        margin-bottom: 20px;
    }
    
    h3 {
        color: #ffffff;
    }

    .romanspoon-image {
        position: absolute;
        left: 1240px;
        top: 320px;
    }

    .container3 {
        border: 2px solid #000000;
        padding: 20px;
        background-color: #FF9C2A;
        font-weight: bold;
        border-radius: 16px;
        line-height: 1.7;
        margin-bottom: 20px;
        text-decoration: none;
    }

    .erai-image {
        position: absolute;
        left: 990px;
        top: 1100px;
    }

    .바로가기1 {
        padding: 20px;
        font-weight: bold;
        line-height: 1.7;
        margin-bottom: 20px;
        position:absolute;
        left: 1250px;
        top: 510px;
        text-decoration: none;
    }

    .바로가기2 {
        padding: 20px;
        font-weight: bold;
        line-height: 1.7;
        margin-bottom: 20px;
        position:absolute;
        left: 1230px;
        top: 1210px;
        text-decoration: none;
    }
}